body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
h1{
    font-size: 30px;
}
p{
    color: dimgray;
}
.coloring-name{
    color:rgb(238, 13, 88);
    font-size: larger;
    font-weight: 700;
}
.half-width{
    width: 40%;
    float: left;
    margin: 30px;
    padding-left: 20px;
    
}
.half-width img{
    width: 75%;

}

.top-part{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    /* background-size: 1350px 570px; */
    border: 2px solid black;
    background-position: center;
    background-size: cover;
    position: relative;
}
section{
    height: 570px;
}
.click-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(173, 40, 85), rgb(238, 13, 88));
    color: white;
    border-radius: 5px;
    padding: 8px 15px;
    font-weight: 500;
    font-size: 12px;

}
.biography{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    /* background-size: 1350px 570px; */
    border: 2px solid black;
    background-position: center;
    background-size: cover;
    position: relative;
}


/* .one-third{
    width: 30%;
    height: 100%;
    float: left;
} */
.one-third img{
    width: 90%;

}
/* #first-pic{
    float: left;
    width: 30%;

}
#second-pic{
    float: left;
    width: 30%;

}
#third-pic{
    float: left;
    width: 30%;

} */



* {
    box-sizing: border-box;
  }
  
  .one-third {
    float: left;
    width: 30.33%;
    padding: 2px;
    margin-left: 40px;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  .latest-work{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    /* background-position: right;
    background-size: cover; */
    background-position: center;
    background-size: cover;
    position: relative;
    
}
#work-heading{
    text-align: center;
}
/* 
}
#clients-say{
    text-align: center;
}
#bruce{
    text-align: center;
}
#founder{
    text-align: center;
    color: dimgray;
}
#para{
    text-align: center;
    color: black;
} */
.text-alignment{
    text-align: center;
}
#founder{
    color: dimgray;
}
#para{
    color: black;
}
#leave-message{
    background-image: linear-gradient(45deg, rgb(173, 40, 85), rgb(238, 13, 88));
    color: white;
    border-radius: 5px;
    width: 70%;
    padding: 10px 10px;
    margin-left: 15%;
    font-weight: 500;
   
}
.clients-part{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    /* background-position: left;
    background-size: 1300px 600px; */
    background-position: center;
    background-size: cover;
    position: relative;;
}

.last-part{
    text-align: center;
    color: dimgray;
}